
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Serif+Pro:wght@300&display=swap');
html,body{
    background-color: #ffffff;
    font-family: 'Lora', serif;

}
#alert-banner{
    background-color: #00adb5 ;
    border: none;
    border-radius:0 ;
}
.navbar-brand{
    padding-left: 3%;
}


/* .bg-dark{
    background-color: black !important;
} */

#main-section-container{
    background-size: cover;

}

.navbar-brand{
    z-index: 1;
}


#main-section-container h1{
 padding-top: 10%;   
 font-size: 48px;
 text-decoration: underline;
 color: black ;

}

#main-section-container h4{
    font-family: 'Yantramanav', sans-serif;
    padding-right: 100px;
    font-weight: 100;
    font-size: 24px;
    color: #030303;
   
   }

#portfolio-section-container h1{
    color: black;
    font-weight: 500;
    padding-top: 9%;   
    padding-bottom:5%;
    font-size: 300%;
    letter-spacing: inherit;
    padding-right: 18%;
    padding-left: 14%;
}

.link {
    display:inline-flex;
    padding: 15px 0 ;
    margin: 15px 25px;
    margin-right: 50px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
    font-family: 'Yantramanav', serif;
    font-size: 18px;
    
  }

.link:hover{
    color: rgb(255, 255, 255);
    text-decoration:underline;
    text-decoration-color: #ffffff ;
}

.mt_custom{
    margin-top:8rem;
    height: 80vh;
}

/* img{
    border: #4ac1ff solid;
    border-radius: 10px;
} */
.custom-dark{
    background-color: #000000 !important;
}
.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #FFFFFF;
    padding: 90px 90px
    ;
}

.col {
    padding-left:0px;
    padding-right: 0px;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}


#portfolio-1{
    background:   url(Sparvelui.png);
    background-size: cover;
    box-shadow:rgba(0, 0, 0, 0.089) 0 1.6rem 4.75rem;
    width: 100%;
    height:80vh;
    padding-top:50px;
    padding-bottom:50px;
    border-radius: 8px;
}


#portfolio-1-bg :hover{
    
    transform: scale(0.95);
    transition: ease-in-out;
    transition: 0.3s;
    cursor: pointer;
}

#portfolio-2{
    background:url(Mockup.PNG);
    background-size: cover;
    box-shadow:rgba(0, 0, 0, 0.089) 0 1.6rem 4.75rem; 
    width: 100%;
    height:80vh;
    top: 10%;
    padding-top:200px;
    padding-bottom:50px;
    border-radius: 8px;
}
#portfolio-2-bg :hover{
    transform: scale(0.95);
    transition: ease-in-out;
    transition: 0.3s;
    cursor: pointer;
}


#show-all-projects {
    padding-top: 70px;
    font-family: 'Yantramanav', sans-serif;
    
   
   
}
#show-all-projects button {
    border: 3px solid;
    border-color: #00adb5;
    color: #00adb5;
    border-radius: .4rem;
    display: inline-block;
    line-height: 1.3;
    margin: .4rem 0;
    min-width: 10.75rem;
    outline: 0;
    padding: 1.66296em 4em 1.46296em;
    text-align: center;
    text-decoration: none;
    transition: all .25s cubic-bezier(.625,.125,.305,.875);
    vertical-align: top;
    width: auto;
    box-shadow:rgba(255, 255, 255, 0.055) 0 1.6rem 4.75rem;
}
#show-all-projects button:hover{
    background-color: #00adb5 ;
    color: #ffffff;
}

.spacing{
    padding:45% 0 0 0}



#email-section-container h2{
    font-family: "Merriweather", sans-serif;
    font-weight: 500;
    padding-top: 10%;   
    padding-bottom:1%;
    font-size: 300%;
    padding-right: 18%;
    padding-left: 14%;
}

#email-section-container h4{
    font-family: "Merriweather", sans-serif;
    font-weight: 500;  
    padding-bottom:5%;
    font-size: 200%;
    padding-right: 28%;
    padding-left: 14%;
}
#email-section-container a{
    color: white;}
#email-section-container a:hover{
    color: rgb(255, 255, 255);
    text-decoration:underline;
    text-decoration-color: #00adb5;

}


.footer__main {
	background:#16181b ;
	text-align: left;
	color: white;
    padding: 100px 0 20px;
    
    font-family: 'Yantramanav''sans-serif';
    font-weight: 500;
}
/* .footer__main figure {
	max-width: 155px;
	height: auto;
	margin: auto 0 20px;
}
.footer__main figure img {
	width: 100%;
	height: auto;
} */

/* .footer__main .logo{
    padding-left: 10px;
    padding-right: 10px;
} */
.footer__main .logo p {
	font-size: 18px;
	font-weight: 500;
	color: white;
    padding-left: 15px;
    font-family:'Merriweather' , 'sans-serif';
}



.footer__main .mails h5 {
    font-size: 18px;
	font-family: 'Yantramanav', sans-serif;}
.footer__main .mails a {
	color: white;
	font-size: 18px;
	font-family: 'Yantramanav', sans-serif;
	
}
.footer__main .mails a:hover{
    color: rgb(255, 255, 255);
    text-decoration:underline;
    text-decoration-color: #00adb5;
}

.footer__main .social__links li a {
    font-family: 'Yantramanav', sans-serif;
  	font-size: 18px;
  	
	color: white;
}
.footer__main .social__links li a:hover{
    color: rgb(255, 255, 255);
    text-decoration:underline;
    text-decoration-color: #00adb5;
}

.footer-rights{
    padding:25px 25px;
}
.text-02 {
    position: static;
    display: block;
    max-width: none;
    font-family: 'Yantramanav', sans-serif;
    color: #ebebeb;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
  }


  
  
  .circle {
	position: absolute;
  border: solid 3px #00adb5 ;
	width: 30px; 
	height: 30px; 
  border-radius: 50%;  
}



@media only screen and (max-width: 438px) {
    html,body{
        width: 113% !important;
    }
  }

  @media only screen and (max-width: 438px) {
    #main-section-container h1{
        font-size: 150%;
        padding-top:20px;
        padding-right: 102px;
        padding-left:25px;

       
       }

       #main-section-container h4{
        font-family: 'Yantramanav', sans-serif;
        font-size: 22px;
        padding-right: 150px;
        padding-left:25px;
        color: rgb(233, 233, 233);
       }
        #portfolio-section-container h1{
            font-size: 150%;
            padding-right: 26%;
            padding-left:12%;
        }
        #email-section-container h2{
            font-size: 150%;
            padding-right: 26%;
            padding-left:12%;

        }
        #email-section-container h4{
            font-size: 100%;
            padding-right: 15%;
            padding-left:12%;
            margin-right: 15%;

        }
      
        #portfolio-1 :hover.overlay{
            padding-top:35%;
            font-size: 32px;
            padding-right: 25%;
            padding-left: 8%;
            opacity: 1;
            cursor: pointer;
        }

        .footer__main{
            padding-left: 30px;
        }
        .footer__main .mails h5 {
        padding-left: 15px;
        }
     
        .footer__main .mails a {
            padding-left: 15px;
            }
        .footer__main .social__links li a{
            padding-right: 50px;
        }
        .footer-rights{
            padding:25px 0px;
        }


        .mt_custom{
            margin-top:8rem;
            height: 75vh;
        }

       
       }

  
